body{
    background-color: #DCDCDC;
}

h1{
    color: white;
    font-family: impact;
    background: lime;
}

p{
    color:orange;
    font-family:'Times New Roman', Times, serif;
    background:#8fbc8f;
    font-size: 30px;

}