body{
    background-color: gray;
}

h1{
    color: white;
    font-family: impact;
    background: lime;
}

p{
    color:orange;
    font-family:'Times New Roman', Times, serif;
    background: blue;
    font-size: 100px;

}